body  {
   
/*    width: auto;*/
    margin: 0;
    padding: 0;
    
    background: black;
    background-attachment: fixed;
    background-size: cover;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
    
.head_name  {
    
    font-size: 6em;
    margin: auto;
    font-family: 'Cinzel Decorative', cursive;
    border: none;
    color: black;
    text-shadow: 1px 1px 1px white;
    
}


.top-nav  {
    font-size: 2em;
    background: linear-gradient(red 60%, black);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    margin: .1em 0 0 0; 
}

.top-nav a  {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px grey;
    text-transform: uppercase;
    padding: .1em 0 .7em 0;
}

.top-nav a:hover  {
    color: white;
}

.releases, h1  {  
    text-shadow: 1px 1px 1px white;
    color: black;
    font-size: 4em; 
    border:1px white solid; 
    font-size:4em; 
    width:fit-content; 
    width:-webkit-fit-content; 
    width:-moz-fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .3em;
}


main, img  {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

section  {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;  
}

figure  {
    color: white;
    text-align: center;
}

aside  {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;  
}

figure  {
    color: white;
    text-align: center;
}

figcaption  {
    margin: .4em 0;
    border: 1px solid white;
    box-shadow: 2px 2px 2px grey; 
}

footer  {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
    height: 5em;
    text-align: center;
    margin: 4em 0;
}

footer a  {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background: black;
}
 
div  {
    display: flex;
    flex-flow: column;
    margin: 1em 4em;
}

footer a:hover  {
    color: red;
}

.main-pic  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

h2  {
    text-align: center;
    text-shadow: 1px 1px 1px white;
    color: black;
    font-family: 'Cinzel Decorative', cursive;
}

.banner  {
    font-size: 4em;
    font-family: 'Cinzel Decorative', cursive;
    border: none;
    margin-top: .4em;
    margin-bottom: .4em;
    text-shadow: 1px 1px 1px white;
    color: black;  
}
article  {
    width: 75%;
    margin: 1em auto 3em auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    
}

.release_page p  {
    color: white;
    margin: .8em 0 0 2em;
    text-align: center;   
    width: 75%;
}



@media (max-width: 1400px){
    .head_name {
        text-align: center;
        font-size: 2em;
    }
    .top-nav, a  {
        font-size: 1.5em;
    }
}
@media (max-width: 800px) {
    .head_name {
        font-size: 2em;
    }
    .top-nav, a {
        font-size: 1.5em;
    }
    .releases {
        font-size: 1.5em;
    }
    .main-pic  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
    }
    .enter-pic img  {
        width: 300px;
    }
@media (max-width: 550px) {
    .release_page img {
        width: 250px;
        height: 250px;
        }
    .release_page p  {
/*        width: 100%;*/
        margin: 2em 0;
        font-size: 1.6em;
    }
    .top-nav a {
        font-size: 1em;
        
}
    }


